<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Razorpay Web-Integration</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            background-color: #f1f1f1;
            overflow-x: hidden;
            overflow-y: hidden;
        }
    </style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body >
	<hr/>
	
		<div style="display: flex;align-items: center;justify-content: center;flex-direction: column;height: 100vh;">
            <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: orange;">RAZORPAY INTEGRATION</h1>
			<form class="pay-form" style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
				<h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Only for testing</h1>
				<input type="submit" value="Pay Now" style="border: none;background-color: cadetblue;color: white;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;height: 40px;width: 80px;cursor: pointer;" >
			</form>
		</div>
	
</body>

</html>

<!--Inside index.html -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

$(document).ready(function(){
	$('.pay-form').submit(function(e){
		e.preventDefault();

		var formData = $(this).serialize();

		$.ajax({
			url:"/createOrder",
			type:"POST",
			data: formData,
			success:function(res){
				if(res.success){
					var options = {
						"key": ""+res.key_id+"",
						"amount": ""+res.amount+"",
						"currency": "INR",
						"name": ""+res.product_name+"",
						"description": ""+res.description+"",
						"image": "https://dummyimage.com/600x400/000/fff",
						"order_id": ""+res.order_id+"",
						"handler": function (response){
							alert("Payment Successful");
						},
						"prefill": {
							"contact":""+res.contact+"",
							"name": ""+res.name+"",
							"email": ""+res.email+""
						},
						"notes" : {
							"description":""+res.description+""
						},
						"theme": {
							"color": "#2300a3"
						}
					};
					var razorpayObject = new Razorpay(options);
					razorpayObject.on('payment.failed', function (response){
							alert("Payment Failed");
					});
					razorpayObject.open();
				}
				else{
					alert(res.msg);
				}
			}
		})

	});
});

</script>
